.canvasContainer{
   position: relative;
   height: 100px;
}
.canvasWrap{
   position: relative;
   height: 100%;
   overflow: hidden;
   border: 1px solid #555555;
}
.canvasWrap__inner{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
}
.canvas{
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   z-index: 2;
}