.canvasContainer{
	position: relative;
	width: 1280px;
	height: 200px;
	border: 1px solid #555555;
	overflow: auto;
	overflow-y: hidden;
}
.canvas{
	width: 100%;
   height: 100%;
}
.info{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
}